body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 1rem 2rem;
  border-bottom: 1px solid #222;
}

.logo a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo a:hover {
  color: #00d1ff;
  transition: color 0.5s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #00d1ff;
  transition: color 0.5s ease;
}

.hero {
  text-align: left;
  padding: 6rem 15rem;
  background: transparent;
}

.hero h1 {
  font-size: 3rem;
  max-width: 900px;
  margin-bottom: 1rem;
}

.hero p {
  max-width: 600px;
  font-size: 1.1rem;
  color: #929191;
  margin-bottom: 2rem;
  margin-top: 0;
}

.btn-cta {
  display: inline-block;
  background-color: #00d1ff;
  padding: 0.8rem 1.5rem;
  color: #000;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background 0.3s ease;
  width: 200px;
}

.btn-cta:hover {
  color: #fff;
  text-align: center;
  transition: color 0.5s ease;
}

.categorias {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 2rem;
  background: #111;
  color: #ccc;
  text-align: center;
}

.categoria img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.redes-sociais ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  padding: 0rem 2rem;
  margin: 2rem 0;
}

.redes-sociais li a {
  color: #000;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.redes-sociais li a:hover {
  color: #00d1ff;
}
